<!-- add-employee-modal.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Add Employee</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
    <ion-item>
      <ion-label position="floating">Employee Number</ion-label>
      <ion-input type="text" name="num" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" name="firstname" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" name="lastname" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="text" name="age" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Validated</ion-label>
      <ion-checkbox slot="start" name="validated" ngModel></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Profile Image URL</ion-label>
      <ion-input type="text" name="profilImage" ngModel></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Add Employee</ion-button>
  </form>
  <ion-content> </ion-content
></ion-content>
