<!-- add-employee-modal.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Add Employee</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm.value)">
    <ion-item>
      <ion-label position="floating">Employee Number</ion-label>
      <ion-input type="text" name="num" ngModel required></ion-input>
    </ion-item>
    <!-- Repeat for other form fields -->
    <ion-button type="submit" expand="block">Add Employee</ion-button>
  </form>
</ion-content>
