ion-button {
  --border-radius: 5px;
  --padding-start: 8px;
  --padding-end: 8px;
}

.ion-icon-add {
  font-size: 20px;
  color: #0db70d;
}

.ion-icon-logout {
  font-size: 20px;
  color: #e34a28;
}
