<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Employee management app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-title class="ion-text-center" color="secondary">Features:</ion-title>

      <ion-list lines="none">
        <ion-item>
          <ion-icon
            name="checkmark-circle"
            color="success"
            slot="start"
          ></ion-icon>
          <ion-label>
            Front-end employee management application with Angular/Ionic.
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon
            name="checkmark-circle"
            color="success"
            slot="start"
          ></ion-icon>
          <ion-label>
            Login page with fields for username, password, and a login button.
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon
            name="checkmark-circle"
            color="success"
            slot="start"
          ></ion-icon>
          <ion-label>
            Simulated login functionality for user authentication.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon
            name="checkmark-circle"
            color="success"
            slot="start"
          ></ion-icon>
          <ion-label>
            Simulated register functionality for user registration.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon
            name="checkmark-circle"
            color="success"
            slot="start"
          ></ion-icon>
          <ion-label>
            Connected mode with a menu for navigation and a logout option.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon
            name="checkmark-circle"
            color="success"
            slot="start"
          ></ion-icon>
          <ion-label> Mobile-friendly navigation between pages. </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon
            name="checkmark-circle"
            color="success"
            slot="start"
          ></ion-icon>
          <ion-label>
            Employee display page with functionalities for creating, modifying,
            and deleting employees.</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-icon
            name="checkmark-circle"
            color="success"
            slot="start"
          ></ion-icon>
          <ion-label>
            Integration with the "fakeapi" for data manipulation within the
            application.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="navigateToLoginPage()" color="success"
    >Get Started</ion-button
  >
</ion-content>

<ion-footer>
  <ion-toolbar style="background-color: #010703a3">
    <p class="ion-text-center" style="color: #e6dada">
      &copy; 2023 MyApp. All rights reserved.
    </p>
  </ion-toolbar>
</ion-footer>
